* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display:flex;
    flex-direction:column;
    font-family:sans-serif;
    background-color: #edf4fa;
}

/*Beginning of header section*/
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #424242;
    padding: 1% 1% 1% 0;
    color: white;
    white-space:nowrap;
    border-bottom:solid 10px #edf4fa;
}

header h1 {
    padding:0px 25px;
    font-size: 70px;
    background-image: linear-gradient(#424242, #00FFE7);
    border-bottom:solid 5px #defffe;
}

/*navigation menu in header*/
nav {
    display:block;
    font-weight: bold;
}

ul {
    display: flex;
    justify-content:space-between;
    min-width:fit-content;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    padding: 49px 10px 0 10px;
    border-bottom:solid 5px #defffe;
    background-image:linear-gradient(#424242, #00FFE7);
}

nav ul li:hover {
    background-image:linear-gradient(#424242, #ffc814);

}

a {
    color: white;
    text-decoration: none;
}

/*banner for display*/
.banner {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    width: 100%;
    height: 200px;
    color: white;
    background-image: url(./images/Blue\ fade\ banner.jpg);
    background-size: cover;
    align-items: end;
    
}

.subtitle {
    font-size: 50px;
    padding-right: 50px;
}

/*beginnning of about me section*/
summary {
    display:flex;
    flex-direction:row;
    padding: 20px;
    font-size: 18px;
    line-height: 40px;
}

summary h2 {
    font-size:50px;
    align-self:flex-end;
}

.about-me{
    display:flex;
    flex-direction:column;
    border-right:solid 5px #0e73cc;
    align-items:center;
    padding-right:20px;
}

.self-img {
    width: 250px;
    height:250px;
    object-fit:cover;
    object-position:3% 10%;
    border-radius:50%;
    margin:50px 20px 20px;
}

.description {
    padding:0 20px;
    align-self:center;
}

/*beginning of the work section*/
.work {
    display:flex;
    flex-direction:row;
    padding:20px;
    justify-content:space-between;
}

.work h2{
    font-size:50px;
    padding-right:20px;
    border-right:solid 5px #0e73cc;
    width:315px;
    text-align:right;
    
}

/*all flex boxes*/
.flex-container {
    display:flex;
    flex-direction:column;
    width:75%;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}

.flex-head {
    width:800px;
    height:350px;
    margin-top:15px;
}

.head {
    width:800px;
    height:350px;
    background-image:url(./images/FOOD\ FINDER\ 2.0.png);
    background-size:800px;
    border:solid 4px #001c4d;
    transition:all 0.5s ease-in-out;
}

.head:hover, .item:hover{
    filter:none;
    transition:all 0.5s ease-in-out;
}

.flex-body {
    display:flex;
    flex-direction:row;
    width:800px;
    height: 500px;
    margin:15px 0;
}

.flex-left{
    display:flex;
    flex-direction:column;
    align-items:left;
    width:400px;
    height:500px;
}

.flex-right{
    display:flex;
    flex-direction:column;
    width:400px;
    height:500px;
    align-items:flex-end;
}

.item{
    width:380px;
    height:230px;
    background-color:#defffe;
    border:solid 4px #001c4d;
}

.item-4, .item-5 {
    margin-top: 15px;
}

.item, .head {
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
}

.item-2{
    background-image:url(./images/smsImg.png);
    background-size:cover;
    transition:all 0.5s ease-in-out;
}

.item-3{
    background-image:url(./images/coding\ quiz.png);
    background-size:cover;
    transition:all 0.5s ease-in-out;
}

.item-4{
    background-image:url(./images/password\ generator.png);
    background-size:cover;
    transition:all 0.5s ease-in-out;
}

.item-5{
    background-image:url(./images/workDaySchedular.png);
    background-size:cover;
    transition:all 0.5s ease-in-out;
}

h3{
    margin-bottom:10px;
    width:fit-content;
    height:30px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right:5px;
    background-color:#001c4d;
    color:white;
}



.contact-me {
   display:flex;
   flex-direction:row;
   padding:20px;
   height:150px;
}

.contact-me h2{
    width:315px;
    border-right:solid 5px #0e73cc;
    text-align:right;
    padding-right:20px;
    font-size:50px;
    height:100%;
}


.contact-me h4{
    align-self:center;
    padding-left:155px;
}

footer{
    width:100%;
    height:100px;
    background-color:#424242;
}
 
/*resizing the screen*/
@media screen and (max-width: 1015px) {
    header, summary, section, .work, .contact-me, .about-me  {
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }

    summary h2{
        text-align:center;
        justify-self:center;
        align-self:center;
    }

    

    .about-me{
        border:none;
    }

    .contact-me h4{
        padding:0;
        margin:0;
    }
    
}