* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display:flex;
    flex-direction:column;
    font-family:sans-serif;
    background-color: #edf4fa;
}

/*Beginning of header section*/
header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: #424242;
    padding: 1%;
    color: white;
    white-space:nowrap;
    border-bottom:solid 10px #edf4fa;
}

header h1 {
    padding:0px 15px;
    font-size: 70px;
    background-image: linear-gradient(#424242, cyan);
    border-bottom:solid 5px #defffe;
}

/*navigation menu in header*/
nav {
    display:block;
    font-weight: bold;
}

nav ul {
    display: flex;
    justify-content:space-between;
    min-width:fit-content;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 9px;
    margin-right: 9px;
    padding: 49px 10px 0 10px;
    border-bottom:solid 5px #defffe;
    background-image:linear-gradient(#424242, cyan);
}

nav ul li:hover {
    background-image:linear-gradient(#424242, #ffc814);

}

a {
    color: white;
    text-decoration: none;
}

/*banner for display*/
.banner {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
    width: 100%;
    height: 200px;
    color: white;
    background-image: url(./images/Blue\ fade\ banner.jpg);
    background-size: cover;
    align-items: end;
    
}

.subtitle {
    font-size: 50px;
    padding-right: 50px;
}

/*beginnning of about me section*/
summary {
    display:flex;
    padding: 20px 0;
    font-size: 18px;
    line-height: 40px;
}

summary h2 {
    font-size:50px;
    align-self:flex-end;
    padding-right:30px;
}

.about-me{
    display:flex;
    flex-direction:column;
    width:1200px;
    border-right:solid 5px #0e73cc;
    align-items:center;
}

.self-img {
    width: 250px;
    height:250px;
    object-fit:cover;
    object-position:3% 10%;
    border-radius:50%;
    margin:50px 20px 20px;
}

.description {
    padding:0 20px;
    align-self:center;
}

/*beginning of the work section*/
.work {
    display:flex;
    flex-direction:row;
    padding:20px 0;
}

.work-title{
    display:flex;
    justify-content:right;
    width: 554px;
    height:895px;
    border-right:solid 5px #0e73cc;
    position:static;
}
.work div h2 {
    font-size:50px;   
    padding-right:30px;
}

/*all flex boxes*/
.flex-container {
    display:flex;
    flex-direction:column;
    width:100%;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
}

.flex-head {
    width:800px;
    height:350px;
    margin-top:15px;
}
.head {
    width:800px;
    height:350px;
    background-color:aquamarine;
    border:solid 4px #0e73cc;
}

.flex-body {
    display:flex;
    flex-direction:row;
    width:800px;
    height: 500px;
    margin:15px 0;
}

.flex-left{
    display:flex;
    flex-direction:column;
    align-items:left;
    width:400px;
    height:500px;
}

.flex-right{
    display:flex;
    flex-direction:column;
    width:400px;
    height:500px;
    align-items:flex-end;
}

.item{
    width:380px;
    height:230px;
    background-color:#defffe;
    border:solid 4px #0e73cc;
}

.item-4, .item-5 {
    margin-top: 15px;
}
 
/*resizing the screen*/
@media screen and (max-width: 1015px) {
    header {
        flex-direction:column;
    }
}